*

!/.gitignore
!/LICENSE
!/README.md

!/main.typ
!/refs.yaml

!/assets/
!/assets/astable.json
!/assets/astable.png
!/assets/astable.svg
!/assets/monostable.json
!/assets/monostable.png
!/assets/monostable.svg
!/assets/rmb1.json
!/assets/rmb1.png
!/assets/rmb1.svg
