*

!/.gitignore
!/LICENSE
!/README.md

!/main.typ
!/refs.yaml

!/assets/
!/assets/astable.json
!/assets/astable.png
!/assets/astable.svg
!/assets/monostable.json
!/assets/monostable.png
!/assets/monostable.svg
!/assets/rmb1.json
!/assets/rmb1.png
!/assets/rmb1.svg
!/assets/chopper.json
!/assets/chopper.png
!/assets/chopper.svg
!/assets/chopper.svg
!/assets/fulltheoretical.json
!/assets/fulltheoretical.png
!/assets/fulltheoretical.svg
!/assets/breadboard.jpg

!/ltspice/
!/ltspice/theoretical.asc
!/ltspice/partly.asc
!/ltspice/completely.asc
